#container {
  margin: auto;
  text-align: center;
}
#container #clock-container {
  position: relative;
}
#container .parent {
  text-align: center;
}
#container .child {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}