@import url("https://fonts.googleapis.com/css?family=Russo+One");
body {
  font-family: Russo One;
}

body {
  user-select: none;
  text-align: center;
  padding-top: 1em;
  background-color: #34AABB;
}

.display {
  text-align: right;
  font-size: 30px;
  width: 200px;
  margin: auto;
}

.inner-container {
  outline: 5px solid blue;
  position: relative;
  width: 300px;
  height: 320px;
  top: 20px;
  text-align: center;
  margin: auto;
  background-color: #9a9a9a;
}

.number-bank {
  width: 182px;
  height: 152px;
  display: inline-block;
  margin: auto;
}

.number-pad {
  position: relative;
  float: left;
  width: 50px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
  padding-top: 5px;
  box-sizing: border-box;
}

#clear {
  top: 5px;
}

#equals {
  top: 5px;
}